[submodule "modules/config-db"]
	path = modules/config-db
	url = https://github.com/flanksource/config-db.git
[submodule "modules/mission-control"]
	path = modules/mission-control
	url = https://github.com/flanksource/mission-control.git
[submodule "modules/canary-checker"]
	path = modules/canary-checker
	url = https://github.com/flanksource/canary-checker.git
