[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "==3.1.0"
mkdocs = "*"
mkdocs-material = "*"
markdown = "*"
mkdocs-autolinks-plugin = "*"
mkdocs-material-extensions = "*"
mkdocs-markdownextradata-plugin = "*"
mkdocs-nav-enhancements = "*"
mkdocs-spellcheck = "*"

[dev-packages]

[requires]
python_version = "3.8"
