.title {
  font-size: 3rem;
}

.title.postTitle {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: -0.045em;
  line-height: 1;
  text-wrap: balance;
}

/**
  Blog post title should be smaller on smaller devices
**/
@media (max-width: 576px) {
  .title,
  .title.postTitle {
    font-size: 2rem;
  }
}
